

.boldonse-regular {
    font-family: "Boldonse", system-ui;
    font-weight: 400;
    font-style: normal;
  }
  
h1 {
    font-family:'boldonse-regular';
}

h2 {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
body {
    background-image: url("https://images.rawpixel.com/image_800/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvdjk2MC1uaW5nLTMwLmpwZw.jpg");
    height: 100%;
}
