

.boldonse-regular {
    font-family: "Boldonse", system-ui;
    font-weight: 400;
    font-style: normal;
  }
  
h1 {
    font-family:'boldonse-regular';
}

h2 {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
body {
    background-image: url("https://media.istockphoto.com/id/1303521061/vector/abstract-gray-dot-pattern-background-with-stripes.jpg?s=612x612&w=0&k=20&c=6fRVie_q61qhT1lOwP8JxXCPcN0CzRE-7Qu_rKNtw9E=");
    height: 100%;
}